* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    font-family: 'Noto Sans JP', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #000;
    font-weight: bold;
    font-feature-settings: "palt";
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    gap: 3rem;
    @media screen and (max-width: 800px) {
        gap: 2rem;
    }
}

section {
    margin-bottom: 3rem;
}

.hero {
    margin: 0 auto
}


.title-logo {
    max-width: 100%;
    height: auto;
    width: 800px;
}

.hero > img {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.hero p {
    font-size: 1.5rem;
    line-height: 2;

    @media screen and (max-width: 800px) {
        font-size: 1rem;
    }
}




h2 {
    margin-bottom: 1rem;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 4rem;
    background: #e6e6e6;
    max-width: fit-content;
    margin: 0 auto;

    @media screen and (max-width: 800px) {
        padding: 1rem 2rem;
    }

}

#about .inner .box{

}

.info-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    font-size: 1.8rem;

    @media screen and (max-width: 800px) {
        font-size: 1rem;
    }

}

.info-label {

}

.info-text {
}


.info-note {
    font-size: 1.4rem;
    line-height: 1;
    padding: .5em 1.25em;
    background: black;
    color: white;
    margin-top: 1rem;
    text-align: center;

    @media screen and (max-width: 800px) {
        font-size: .75rem;
    }
}

footer {
    text-align: center;
    padding: 2rem;
    margin-top: 3rem;
    @media screen and (max-width: 800px) {
        font-size: .75rem;
    }
}
