* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    color: #000;
    font-weight: bold;
    font-feature-settings: "palt";
}


main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

section {
    margin-bottom: 3rem;
}

.hero {
    margin: 0 auto
}

.hero p{
    font-size: 26px;
    line-height: 2;
}

.title-logo {
    max-width: 100%;
    height: auto;
    width: 800px;
}

.hero > img {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.hero p {
    font-size: 1.5rem;
}

h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

#about .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.info-icon {
    width: 60px;
    height: auto;
    margin-bottom: 1rem;
}

.info-text {
    font-size: 26px;
    line-height: 2;
    text-align: center;
}

.info-note {
    font-size: 18px;
    margin-top: 1rem;
    text-align: center;
}

footer {
    text-align: center;
    padding: 2rem;
    margin-top: 3rem;
}
